@font-face {
  font-family: "Virtue";
  src: local('src/virtue.ttf');
}


@font-face {
    font-family: 'Geneva';
    src: url('/src/fonts/Pixelva.woff2') format('woff2'),
    url('/src/fonts/Pixelva.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chicago';
    src: url('/src/fonts/ChiKareGo2.woff2') format('woff2'),
    url('/src/fonts/ChiKareGo2.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


.textbox{
    font-family: 'Virtue';
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5px;
}
.boxleft {
    float: left;
    width: 30%;
    height: 146px;
    text-align: center;
    border: solid grey;
    border-right: none;
    background-color: lightgrey;
}
.boxmid {
    float: left;
    width: 33%;
    height: 146px;
    text-align: center;
    border: solid grey;
    background-color: lightgrey;
}
.boxright {
    float: left;
    width: 30%;
    height: 146px;
    text-align: center;
    border: solid grey;
    border-left: none;
    background-color: lightgrey;
}
.container {
    margin: auto;
    width: 380px;
}
.imgcontainer{
    padding: 15px;
    text-align: center;
}

.largecontainer{
    width: 100%;
}